<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <B2B_Blacklist>
            <version>0.1.0</version>
        </B2B_Blacklist>
    </modules>
    <global>
        <helpers>
            <blacklist>
                <class>B2B_Blacklist_Helper</class>
            </blacklist>
        </helpers>
        <models>
            <blacklist>
                <class>B2B_Blacklist_Model</class>
            </blacklist>
        </models>
        <resources>
            <b2b_blacklist_setup>
                <setup>
                    <module>B2B_Blacklist</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </b2b_blacklist_setup>
            <b2b_blacklist_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </b2b_blacklist_write>
            <b2b_blacklist_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </b2b_blacklist_read>
        </resources>
        <events>
            <controller_action_postdispatch_checkout_onepage_index>
                <observers>
                    <B2B_Blacklist_Model_Observer>
                        <type>singleton</type>
                        <class>blacklist/observer</class>
                        <method>checkCustomer</method>
                    </B2B_Blacklist_Model_Observer>
                </observers>
            </controller_action_postdispatch_checkout_onepage_index>
        </events>
    </global>
    <default>
        <blacklist>
            <settings>
                <text_alert>You are not allowed to purchase on our website.</text_alert>
            </settings>
        </blacklist>
    </default>
</config>
